In [1]:
import csv

# Open the CSV file named "books.csv" in read mode and assign it to the file object "file"
with open('books.csv', 'r', encoding='utf-8-sig') as file:
    # Use the csv.DictReader() method to read the CSV file and create a list of dictionaries that represent each row.
    # Assign the resulting list to the variable "books"
    csv_reader = csv.DictReader(file)
    books = list(csv_reader)
    
# Print the contents of the "books" list to the console
print(books)

[{'author': 'J R R Tolkien', 'book': 'The Hobbit'}, {'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}]

In [2]:
import sqlite3

# Connect to the database or create it if it doesn't exist
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create the table with the specified fields
cursor.execute('''CREATE TABLE books
                  (title text, author text, year integer)''')

# Commit the changes 
conn.commit()

In [3]:
# Open the CSV file and create a DictReader object
with open('books2.csv', 'r', encoding='utf-8-sig') as file:
    csv_reader = csv.DictReader(file)

    # Loop through each row in the CSV file and insert it into the "books" table
    for row in csv_reader:
        title = row['title']
        author = row['author']
        year = int(row['year'])
        
        cursor.execute('''INSERT INTO books (title, author, year)
                          VALUES (?, ?, ?)''', (title, author, year))

    # Commit the changes
    conn.commit()

In [4]:
# Execute a SELECT statement to retrieve the titles in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")

# Fetch all the rows returned by the SELECT statement
rows = cursor.fetchall()

# Print the titles
for row in rows:
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [5]:
# Execute a SELECT statement to retrieve all columns, ordered by year of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")

# Fetch all the rows returned by the SELECT statement
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the connection to the database
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Mi√©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [6]:
from sqlalchemy import create_engine, Table, MetaData, select

# Connect to the database
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
books = Table('books', metadata, autoload=True, autoload_with=engine)

# Create a SELECT statement to retrieve the titles in alphabetical order
stmt = select([books.c.title]).order_by(books.c.title.asc())

# Execute the SELECT statement
with engine.connect() as conn:
    results = conn.execute(stmt).fetchall()

# Print the titles
for row in results:
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!